<!DOCTYPE html>
    <html lang="pl">
        <head>
             <meta charset="UTF-8">
             <title>Blog dla programistów</title>

        </head>
        <body>
            <div>
                <h1>Witam na stronie bloga</h1>
                <h2>Blog o programowaniu</h2>
                <h3>Autor : Pawel Prokop</h3>
            </div>
            <div>
                <p>Prawa zastrzezone</p>
                <em>Wyrozniony tekst</em></br>
                <strong>Pogrubiony tekst</strong>
            </div>
            <div>
                 <ul>
                     <li>pierwszy element</li>
                     <li>pierwszy element</li>
                     <li>pierwszy element</li>
                 </ul>
            </div>
        </body>
    </html>